.login__bg {
    background-image: url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-position: center;
    height: 92vh;
    background-repeat: no-repeat;
    overflow-x: hidden;
}